<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="myApp" ng-strict-di>
  <body>
    <div ng-controller="MinesweeperController">
      <table border="1">
        <tr ng-repeat="row in minefield.rows">
          <td ng-repeat="spot in row.spots">
            {{ spot.isCovered }}
          </td>
        </tr>
      </table>
    </div>
    <script src="assets/js/angular.min.js"></script>
    <script>
      angular.module("myApp", []).controller("MinesweeperController", [
        "$scope",
        function($scope) {
          $scope.minefield = createMinefield();
        }
      ]);

      angular.element(function() {
        angular.bootstrap(document, ["myApp"]);
      });

      function createMinefield() {
        var minefield = {};
        minefield.rows = [];

        for (var i = 0; i < 9; i++) {
          var row = {};
          row.spots = [];

          for (var j = 0; j < 9; j++) {
            var spot = {};
            spot.isCovered = true;
            row.spots.push(spot);
          }

          minefield.rows.push(row);
        }

        return minefield;
      }
    </script>
  </body>
</html>
